<h1>Restaurants</h1>


<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%=  restaurant.name %></td>
        <td><%=  restaurant.address %></td>
        <td><%=  restaurant.phone_number %></td>
        <td><%=  restaurant.category %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

